<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <picture class="logo">
          <source 
              srcset="https://ik.imagekit.io/milanz/milanzivanov_com/newMyLogoDesign2020-2_GY0ZJe0CVxjE2.png" alt="front logo"
              type="image/webp">
          <img 
              src="https://ik.imagekit.io/milanz/src/img/mzLogo100X100.png"
              alt="header logo">
        </picture> 
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
